@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;  /* enable variable weight range */
    font-style: normal;
}


body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

p {
    color: hsl(216, 15%, 48%);
    padding: 0 12px 20px;
}

h2 {
    color: black;
    margin-bottom: 16px;
    padding-top: -25px;
}